body {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #000000;
  margin-top: 10px;
  color: white;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("ladrop.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  opacity: 0.3;
  z-index: -1;
}

h1 {
  text-align: center;
  color: lightblue;
  font-family: cursive;
}

.head {
  width: 100%;
  background-color: #202020;
  padding: 20px 0;
  text-align: center;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  color: lightblue;
  box-sizing: border-box;
}

ul li ul li ul a:hover {
  color: yellow;
}

ul li ul li ul a {
  color: lightblue;
}
