body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: white;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  color: lightblue;
  font-family: cursive;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  color: lightblue;
  align-items: stretch;
}

ul {
  padding-left: 20px;
}

a {
  color: lightblue;
  text-decoration: none;
}

a:hover {
  color: yellow;
}

.logo {
  width: 150px;
  height: auto;
  display: block;
  margin: 10px auto;
}
